* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: verdana;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 2rem;
  background: #eef0f1;
}

a,
a:active,
a:visited {
  color: #0587ea;
}

a:hover {
  opacity: 0.8;
}

#box {
  width: 100%;
  max-width: 35rem;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#box p:first-child {
  margin-top: 0;
}

#box p:last-child {
  margin-top: 0;
}

#box p {
  line-height: 1.5;
}

#box p.logo {
  text-align: center;
}

#box p.logo a {
  display: block;
  margin-bottom: 2rem;
}

#box p.logo a img {
  display: block;
  width: 80%;
  max-width: 10rem;
  margin: auto;
}

#form {
  margin: 1rem 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  width: 22rem;
  height: 2rem;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  height: 2rem;
}

#response::before {
  content: ">";
  font-weight: bold;
  margin-right: 5px;
  color: red;
}
